= content_for(:title) do
  Search Results for #{params[:query]}
= content_for(:description) do
  Search Results for #{params[:query]}

%h1
  Search Results

%h3
  = "Showing #{@pg_search_documents.count} Results for '#{ params[:query]}' "

%ol.search-results
  - if @pg_search_documents.present?
    - @pg_search_documents.each do |pg_search_document|
      = link_to pg_search_document do
        = pg_search_document.name
