= form_for(contact) do |f|
  - if contact.errors.any?
    #error_explanation
      %h2
        = pluralize(contact.errors.count, "error")
        prohibited this contact from being saved:
      %ul
        - contact.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :surname
    = f.text_field :surname
  .field
    = f.label :birthday
    = f.date_select :birthday
  .field
    = f.label :job_title
    = f.text_field :job_title
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :primary_phone
    = f.text_field :primary_phone
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :bio
    = f.text_area :bio
  .field
    = f.label :address_street
    = f.text_field :address_street
  .field
    = f.label :address_street2
    = f.text_field :address_street2
  .field
    = f.label :address_city
    = f.text_field :address_city
  .field
    = f.label :address_state
    = f.text_field :address_state
  .field
    = f.label :address_postcode
    = f.text_field :address_postcode
  .field
    = f.label :address_country
    = f.text_field :address_country
  .field
    = f.label :referred_by
    = f.text_field :referred_by
  .field
    = f.label :twitter
    = f.text_field :twitter
  .field
    = f.label :linkedin
    = f.text_field :linkedin
  .actions
    = f.submit
