= content_for(:title) do
  Contacts
= content_for(:description) do
  List of Contacts

%h1.floated-title
  Contacts
= button_to 'New Contact', new_contact_path, :method => 'get', :class => 'floated-button'
.filters
  .alphabetical
    = link_to do
      A - Z
      = fa_icon 'exchange'

  .name-order
    Surname, First Name
    = fa_icon 'exchange'

.contact-list.five
  - @contacts.each do |contact|
    = link_to contact_update_variable_path(:contact_id => contact.id), :remote => true, :method => 'get' do
      %div.contact-list-link
        .contact
          .contact-image
            = image_tag(contact.image.url(:thumb)) if contact.image?
          .contact-name
            = contact.name
          .contact-job
            = contact.job_title

.contact-details.seven
  #profile
