= content_for(:title) do
  Contacts
= content_for(:description) do
  List of Contacts

.row
  .breadcrumbs
    Contacts

.row
  - @contacts = @alphabetical_contacts
  - @contacts.each do |letter, contact_array|
    %h2
      = letter
    - contact_array.each do |contact|
      = link_to contact_path(contact), :class => 'contact-list-link' do
        .contact
          .inner-box.image
            = fa_icon 'user'
          .inner-box.name
            .label
              full name
            = contact.name
          .inner-box.location
            .label
              location
            = contact.location
          .inner-box.phone
            .label
              phone
            = contact.primary_phone
          .inner-box.email
            .label
              email
            = contact.email
          -# %td= link_to 'Show', contact
          -# %td= link_to 'Edit', edit_contact_path(contact)
          -# %td= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }
          -# %td= link_to "#{contact.notes.count}", contact_notes_path(contact.id)
  %br/
  //= link_to 'New Contact', new_contact_path
