= content_for(:title) do
  = @contact.name
= content_for(:description) do
  = @contact.name

.row
  .breadcrumbs
    = link_to 'Contacts', contacts_path
    \> #{@contact.name}

.row
  .show-contact.twelve
    .top-section.twelve
      .left-side.four
        .contact-show-image
          - if @contact.image?
            = image_tag(@contact.image.url(:standard))
          - else
            .initials.large
              = @contact.initials
        .contact-show-block
          .contact-name
            = @contact.name
          .contact-show-job
            = @contact.job_title
      .right-side.four
        = button_to 'Edit Profile', edit_contact_path(@contact), :method => 'get'

      .contact-show-info.twelve
        .contact-info.four
          %h2.sub-title
            Contact Info
          .muted-text
            = @contact.email
          .muted-text
            = @contact.primary_phone
          %br
          .muted-text
            = @contact.address_line1
          .muted-text
            = @contact.address_line2
          .muted-text
            = @contact.address_line3
        .personal-info.four
          %h2.sub-title
            Personal Info
          .muted-text
            = @contact.full_age
          %br
          .muted-text
            = @contact.bio
        - if (@contact.twitter.present?) || (@contact.linkedin.present?)
          .social-info.four
            %h2.sub-title
              Social Info
            - if @contact.twitter.present?
              .muted-text
                Twitter:
                = link_to "#{@contact.twitter}", "http://twitter.com/#{@contact.twitter}", :target => "_blank"
            - if @contact.linkedin.present?
              .muted-text
                LinkedIn:
                = link_to "#{@contact.linkedin}", "https://www.linkedin.com/in/#{@contact.linkedin}", :target => "_blank"
