%header
  = form_tag search_index_path, method: :get, :class => 'header-form' do
    = text_field_tag :query, params[:query], :placeholder => 'Type to Search...'
  .user-navigation
    .profile
      .avatar
        = image_tag 'avatar.png'
        = fa_icon 'caret-down'
    .notification
      = fa_icon 'bell'
