%sidebar.three
  .sidebar-content
    .company
      .logo
        = fa_icon 'cloud'
      .details
        - if signed_in?
          - if current_user.company.present?
            .company-name
              = current_user.company.name
          - if current_user.name.present?
            .user-name
              = current_user.name
          - else
            = current_user.email
          - if current_user.role == "admin"
            \Admin
    .navigation
      %h2.area-title
        Areas
      %ul.page-navigation
        %li.navigation-item
          = link_to contacts_path do
            Contacts #{Contact.all.count}
        %li.navigation-item
          = link_to all_tasks_path do
            Tasks
        %li.navigation-item
          = link_to all_notes_path do
            Notes

